* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*every 1rem is 10 pixel*/
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

/* Instead of polluting the body with other features like flex features, i defined the section in html and here too,to move the features from body in section below! */
section {
  /* To bring the card in the middle of the page! */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 50rem;
  border-radius: 3rem;
  overflow: hidden;
  font-weight: 600;

  transform: rotate(-5deg);
  transition: all 0.5s;

  /* box-shadow:inset hoff voff blur spread rgba(0, 0, 0, .5); */
  box-shadow: 0 0 20px 5px rgb(230, 230, 230);

  /* This with height: 100vh; didn't work to bring the card in the middle of the page, that's why i used flex to do that! */
  /* margin: 0 auto; */
}

/* .card footer img:hover { */
.card:hover {
  /* transform: rotate(0) scale(1.15); */
  /* transform: rotate(360deg); */
  transform: rotate(0);
}

/* With the following statement, when i hover on the card,only card will rotate and when i hover on the image, the image will be scaled up! */
/* .card footer img:hover {
  transform: scale(1.15);
} */

/* But with the following statement,it is just enough to hover one time on the card, both card will rotate and also the image will sclae up at the same time! */
.card:hover footer img {
  transform: scale(1.15);
}

.text {
  padding: 4rem;
  padding-bottom: 3rem;
}

img {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  margin-left: 3.5rem;
  /* padding-left: 4rem; */
  border: 3px solid white;
  transition: all 1s;
}

footer {
  background: dodgerblue;
  padding: 1rem;
  /* border-radius: 3rem; */

  display: flex;
  align-items: center;
  column-gap: 2rem;

  /* Gradient from this website: https://cssgradient.io/*/
  background: rgb(2, 0, 36);
  /* background: linear-gradient(90deg, #020024 0%, #74d690 35%, #5cbfbb 100%); */
  /* background: linear-gradient(270deg, #74d690 10%, #5cbfbb 100%); */
  background: linear-gradient(90deg, #5cbfbb 0%, #74d690 100%);
}

footer p {
  color: #fff;
}
